In [24]:
from huggingface_hub import login
import transformers
import torch
import pandas as pd
from tqdm import tqdm

In [5]:
MY_HF_TOKEN = "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"
login(token=MY_HF_TOKEN)

In [14]:
dataset = pd.read_csv("/data/ephemeral/home/sty/data/train.csv")
clean_df = pd.read_csv("/data/ephemeral/home/sty/data/clean_data.csv")

In [19]:
keys = {0: "정치", 1: "스포츠", 2: "경제", 3: "사회", 4: "문화", 5: "IT/과학", 6: "국제"}
keys_str = []
for idx, key in list(keys.items()):
    keys_str.append(f'{idx}: {key}')
keys_str = ', '.join(keys_str)

print(keys_str)

0: 정치, 1: 스포츠, 2: 경제, 3: 사회, 4: 문화, 5: IT/과학, 6: 국제

In [21]:
len(clean_df)

314

'K찰.국DLwo 로L3한N% 회장 2 T0&}송='

In [30]:
model_id = "MLP-KTLim/llama-3-Korean-Bllossom-8B"

pipeline = transformers.pipeline(
    "text-generation",
    model=model_id,
    model_kwargs={"torch_dtype": torch.bfloat16},
    device_map="auto",
)

pipeline.model.eval()

keys = {0: "정치", 1: "스포츠", 2: "경제", 3: "사회", 4: "문화", 5: "IT/과학", 6: "국제"}
keys_str = []
for idx, key in list(keys.items()):
    keys_str.append(f'{idx}: {key}')
keys_str = ', '.join(keys_str)

#print(keys_str)

keywords = []

PROMPT = f'''
    당신은 기사 제목을 보고 어떤 분야의 기사인지 맞추는 전문가입니다.
    기사의 분야에 대한 정수 값은 {keys_str}와 같습니다.
    기사를 보고 해당하는 분야의 정수 값을 리턴해주세요.
    숫자만 리턴해주세요.
  '''
print(PROMPT)
    
for i in tqdm(range(len(clean_df))):
    #data = ', '.join(sam_df['text'] + ':' + sam_df['target'].astype(str))
    data = clean_df.iloc[i]["text"]

    messages = [{"role": "system", "content": f"{PROMPT}"}] + \
            [{"role": "user", "content": f"{data}"}]

    prompt = pipeline.tokenizer.apply_chat_template(
            messages,
            tokenize=False,
            add_generation_prompt=True
    )

    terminators = [
        pipeline.tokenizer.eos_token_id,
        pipeline.tokenizer.convert_tokens_to_ids("<|eot_id|>")
    ]

    outputs = pipeline(
        prompt,
        max_new_tokens=2048,
        eos_token_id=terminators,
        do_sample=True,
        temperature=0.6,
        top_p=0.9
    )

    keywords.append(outputs[0]["generated_text"][len(prompt):])
print(keywords)

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

Some parameters are on the meta device because they were offloaded to the cpu.

    당신은 기사 제목을 보고 어떤 분야의 기사인지 맞추는 전문가입니다.
    기사의 분야에 대한 정수 값은 0: 정치, 1: 스포츠, 2: 경제, 3: 사회, 4: 문화, 5: IT/과학, 6: 국제와 같습니다.
    기사를 보고 해당하는 분야의 정수 값을 리턴해주세요.
    숫자만 리턴해주세요.

100%|██████████| 314/314 [12:06<00:00,  2.31s/it]

['3', '2', '4', '1', '2', '3', '1', '4', '1', '2', '2', '2', '3', '2', '3', '1', '2', '1', '5', '1', '2', '2', '2', '5', '1', '2', '2', '1', '2', '5', '3', '2', '2', '4', '1', '2', '1', '6', '2', '2', '1', '2', '2', '2', '3', '1', '2', '2', '2', '3', '5', '1', '2', '2', '2', '2', '2', '3', '5', '2', '1', '2', '2', '5', '2', '5', '2', '3', '3', '1', '4', '4', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '4', '2', '2', '2', '4', '2', '2', '5', '2', '2', '2', '6', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '3', '2', '2', '2', '2', '2', '2', '2', '5', '2', '2', '5', '2', '1', '2', '2', '6', '4', '2', '2', '3', '5', '2', '2', '2', '2', '2', '2', '1', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '1', '6', '1', '2', '2', '2', '2', '2', '2', '2', '3', '1', '2', '6', '5', '2', '3', '2', '2', '1', '2', '2', '2', '1', '2', '2', '2', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '3', '5', '2', '2', '2', '5', '2', '2', '2', '4', '2', '2', '3', '2', '1', '2', '0', '3', '2', '2', '2', '2', '2', '3', '2', '2', '1', '2', '5', '2', '2', '2', '2', '2', '2', '5', '2', '2', '2', '6', '5', '1', '5', '2', '6', '2', '3', '4', '2', '2', '2', '3', '1', '3', '2', '2', '2', '2', '2', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '3', '2', '2', '3', '2', '2', '4', '2', '2', '2', '2', '2', '2', '6', '4', '1', '2', '2', '2', '2', '2', '1', '5', '5', '2', '2', '2', '2', '2', '2', '2', '2', '5', '2', '4', '5', '2', '2', '5', '2', '2', '6', '2', '2', '2', '2', '1', '1', '1', '0', '4', '2', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2']

In [29]:
keywords1 = keywords

In [52]:
len(keywords1)

304

In [53]:
len(clean_df)

314

In [51]:
clean_df["new_target"] = keywords1
clean_df.head()

ValueError: Length of values (304) does not match length of index (314)

In [75]:
import torch, gc
gc.collect()
torch.cuda.empty_cache()

In [55]:
model_id = "MLP-KTLim/llama-3-Korean-Bllossom-8B"

DEVICE = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

pipeline = transformers.pipeline(
    "text-generation",
    model=model_id,
    model_kwargs={"torch_dtype": torch.bfloat16},
    device_map=DEVICE,
)

pipeline.model.eval()

keys = {0: "정치", 1: "스포츠", 2: "경제", 3: "사회", 4: "문화", 5: "IT/과학", 6: "국제"}
keys_str = []
for idx, key in list(keys.items()):
    keys_str.append(f'{idx}: {key}')
keys_str = ', '.join(keys_str)

#print(keys_str)

keywords = []

PROMPT = f'''
    당신은 기사 제목을 보고 어떤 분야의 기사인지 맞추는 전문가입니다.
    기사의 분야에 대한 정수 값은 {keys_str}와 같습니다.
    기사를 보고 해당하는 분야의 정수 값을 리턴해주세요.
    결과 값에 숫자만 있게 해주세요. 글자 하나 없이 오로지 숫자만
  '''
print(PROMPT)

for i in tqdm(range(len(dataset))):
    data = dataset.iloc[i]["text"]

    messages = [{"role": "system", "content": f"{PROMPT}"}] + \
            [{"role": "user", "content": f"{data}"}]

    prompt = pipeline.tokenizer.apply_chat_template(
            messages,
            tokenize=False,
            add_generation_prompt=True
    )

    terminators = [
        pipeline.tokenizer.eos_token_id,
        pipeline.tokenizer.convert_tokens_to_ids("<|eot_id|>")
    ]

    outputs = pipeline(
        prompt,
        max_new_tokens=2048,
        eos_token_id=terminators,
        do_sample=True,
        temperature=0.6,
        top_p=0.9
    )

    key = outputs[0]["generated_text"][len(prompt):]
    
    keywords.append(int(key))
print(keywords)
dataset["new_target"] = keywords

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

    당신은 기사 제목을 보고 어떤 분야의 기사인지 맞추는 전문가입니다.
    기사의 분야에 대한 정수 값은 0: 정치, 1: 스포츠, 2: 경제, 3: 사회, 4: 문화, 5: IT/과학, 6: 국제와 같습니다.
    기사를 보고 해당하는 분야의 정수 값을 리턴해주세요.
    결과 값에 숫자만 있게 해주세요. 글자 하나 없이 오로지 숫자만

100%|██████████| 2800/2800 [18:57<00:00,  2.46it/s]

[4, 3, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 5, 1, 4, 2, 1, 3, 1, 2, 4, 1, 1, 1, 2, 1, 3, 2, 2, 3, 6, 1, 2, 2, 1, 2, 5, 2, 2, 5, 2, 1, 4, 2, 2, 1, 3, 5, 2, 2, 2, 3, 5, 3, 1, 2, 3, 3, 3, 1, 1, 1, 2, 5, 1, 2, 2, 1, 6, 0, 1, 2, 2, 2, 3, 2, 1, 2, 5, 3, 6, 2, 2, 2, 5, 2, 2, 1, 2, 5, 2, 5, 2, 5, 2, 2, 2, 1, 2, 1, 3, 3, 1, 5, 5, 1, 0, 2, 3, 4, 2, 5, 2, 0, 3, 3, 5, 1, 2, 1, 5, 3, 2, 2, 4, 1, 1, 2, 5, 2, 5, 3, 5, 2, 3, 2, 2, 4, 2, 1, 4, 1, 4, 2, 2, 0, 1, 3, 1, 2, 6, 6, 4, 2, 6, 3, 2, 2, 3, 5, 1, 2, 5, 1, 3, 3, 2, 0, 2, 1, 3, 3, 1, 4, 3, 4, 3, 1, 2, 2, 2, 0, 2, 2, 1, 0, 2, 2, 6, 2, 1, 3, 2, 1, 5, 6, 2, 5, 2, 3, 3, 2, 1, 0, 1, 3, 1, 4, 6, 1, 0, 1, 3, 2, 0, 2, 2, 2, 1, 1, 2, 3, 3, 1, 0, 3, 4, 2, 2, 5, 1, 1, 3, 2, 2, 1, 4, 2, 4, 1, 1, 1, 0, 2, 2, 2, 3, 2, 4, 2, 2, 3, 5, 5, 3, 4, 1, 4, 6, 4, 1, 3, 2, 2, 3, 3, 3, 2, 2, 5, 2, 6, 1, 2, 4, 1, 4, 1, 4, 6, 6, 2, 2, 4, 4, 2, 2, 1, 2, 1, 3, 2, 4, 2, 1, 2, 3, 3, 4, 2, 4, 5, 2, 2, 2, 2, 2, 3, 2, 2, 1, 1, 2, 1, 0, 2, 2, 1, 4, 2, 3, 4, 3, 2, 2, 5, 2, 2, 1, 3, 1, 3, 3, 3, 1, 2, 3, 2, 4, 2, 1, 2, 4, 3, 0, 2, 4, 4, 4, 2, 2, 2, 3, 2, 2, 4, 5, 6, 1, 2, 1, 1, 2, 6, 1, 2, 2, 2, 0, 2, 2, 6, 2, 2, 6, 2, 3, 2, 4, 2, 3, 1, 3, 2, 6, 2, 5, 0, 2, 2, 2, 3, 0, 4, 6, 2, 3, 2, 1, 2, 2, 2, 1, 2, 3, 2, 0, 1, 2, 5, 2, 3, 2, 3, 4, 2, 3, 2, 2, 2, 2, 3, 3, 1, 2, 3, 4, 1, 2, 6, 3, 6, 2, 1, 2, 2, 3, 3, 1, 2, 2, 2, 2, 2, 1, 3, 2, 2, 0, 1, 2, 4, 5, 3, 2, 5, 2, 2, 2, 5, 5, 2, 6, 3, 2, 1, 2, 2, 1, 1, 3, 2, 1, 4, 2, 6, 1, 4, 4, 3, 3, 2, 2, 2, 2, 1, 4, 4, 3, 1, 1, 6, 1, 6, 2, 0, 0, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2, 1, 4, 1, 2, 2, 1, 2, 2, 4, 2, 1, 2, 6, 0, 3, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 3, 2, 3, 2, 2, 3, 5, 2, 1, 2, 2, 2, 2, 4, 1, 2, 2, 3, 3, 3, 3, 5, 2, 3, 2, 1, 6, 1, 2, 1, 2, 4, 2, 1, 1, 1, 4, 1, 6, 1, 5, 1, 1, 4, 2, 2, 0, 6, 2, 2, 4, 2, 2, 2, 4, 4, 4, 3, 2, 1, 2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 2, 1, 3, 2, 2, 2, 2, 3, 2, 0, 1, 3, 3, 1, 1, 2, 2, 1, 2, 3, 4, 1, 2, 5, 2, 2, 3, 1, 1, 2, 6, 5, 3, 3, 1, 2, 2, 2, 1, 2, 3, 3, 5, 3, 2, 1, 0, 1, 2, 2, 4, 2, 6, 3, 3, 1, 4, 2, 2, 3, 3, 2, 2, 4, 2, 2, 4, 3, 2, 2, 3, 2, 2, 1, 2, 1, 1, 2, 2, 4, 3, 4, 1, 0, 6, 0, 2, 3, 2, 1, 2, 3, 3, 2, 2, 1, 4, 5, 2, 6, 3, 3, 0, 2, 2, 1, 2, 3, 1, 1, 2, 1, 4, 5, 2, 2, 2, 0, 4, 2, 2, 2, 2, 2, 5, 4, 5, 2, 2, 3, 2, 5, 2, 4, 1, 1, 1, 5, 3, 2, 3, 2, 3, 2, 2, 1, 6, 2, 2, 0, 1, 3, 3, 5, 2, 4, 0, 3, 2, 3, 3, 2, 2, 2, 2, 2, 5, 2, 2, 5, 3, 0, 1, 1, 1, 1, 2, 2, 4, 1, 3, 3, 1, 2, 1, 6, 2, 2, 1, 6, 3, 2, 1, 4, 3, 4, 2, 2, 1, 4, 2, 1, 3, 4, 2, 2, 1, 1, 1, 5, 2, 1, 1, 1, 2, 4, 3, 6, 2, 2, 5, 2, 3, 3, 1, 1, 2, 1, 2, 4, 1, 2, 5, 4, 2, 0, 1, 2, 2, 3, 2, 4, 3, 2, 1, 1, 2, 5, 1, 1, 0, 2, 6, 4, 1, 1, 3, 0, 6, 2, 0, 1, 5, 2, 3, 3, 1, 4, 2, 2, 4, 3, 5, 2, 2, 3, 2, 2, 4, 6, 6, 3, 2, 6, 3, 0, 2, 3, 1, 5, 2, 2, 2, 1, 1, 5, 2, 4, 2, 6, 1, 6, 2, 4, 3, 2, 3, 1, 1, 6, 2, 2, 2, 0, 2, 3, 2, 2, 3, 1, 2, 2, 2, 0, 2, 1, 2, 2, 5, 2, 1, 1, 1, 2, 2, 4, 4, 0, 2, 1, 3, 2, 1, 4, 2, 2, 2, 0, 4, 1, 3, 4, 5, 1, 6, 4, 2, 6, 2, 3, 3, 1, 4, 3, 4, 1, 2, 2, 2, 4, 2, 2, 2, 3, 6, 1, 3, 2, 2, 2, 2, 2, 1, 3, 4, 1, 3, 2, 2, 6, 2, 4, 3, 6, 3, 3, 3, 0, 2, 5, 3, 4, 1, 5, 1, 6, 1, 0, 2, 4, 1, 6, 2, 4, 4, 1, 6, 2, 2, 6, 3, 1, 2, 1, 2, 3, 3, 1, 3, 0, 2, 1, 3, 2, 2, 6, 5, 1, 1, 5, 4, 1, 4, 4, 2, 3, 3, 2, 5, 2, 3, 0, 2, 1, 4, 2, 2, 3, 4, 1, 2, 2, 2, 1, 2, 2, 6, 2, 0, 1, 1, 2, 2, 1, 1, 4, 2, 1, 3, 1, 6, 6, 2, 2, 2, 3, 3, 5, 1, 1, 4, 2, 1, 3, 2, 2, 3, 2, 2, 1, 4, 1, 4, 2, 1, 5, 6, 1, 1, 3, 1, 2, 4, 4, 2, 5, 4, 2, 2, 5, 2, 2, 3, 5, 2, 1, 2, 4, 0, 2, 1, 6, 0, 1, 2, 3, 4, 3, 2, 3, 2, 6, 2, 1, 1, 3, 2, 3, 5, 4, 2, 3, 6, 2, 4, 1, 1, 4, 5, 1, 2, 3, 5, 2, 5, 2, 5, 2, 5, 1, 2, 4, 2, 2, 2, 4, 1, 6, 1, 2, 3, 2, 1, 1, 2, 4, 3, 3, 1, 1, 2, 3, 2, 2, 1, 1, 3, 1, 2, 3, 3, 1, 4, 3, 2, 1, 4, 2, 1, 2, 2, 4, 1, 1, 2, 6, 6, 2, 3, 2, 5, 0, 2, 4, 2, 1, 3, 2, 0, 1, 4, 1, 1, 2, 5, 2, 2, 3, 6, 3, 0, 0, 5, 2, 6, 0, 2, 2, 4, 3, 0, 1, 0, 2, 2, 0, 4, 2, 2, 4, 2, 6, 2, 3, 3, 2, 2, 4, 0, 2, 5, 1, 1, 3, 1, 1, 3, 5, 1, 2, 1, 5, 1, 4, 2, 2, 4, 4, 2, 2, 1, 3, 1, 2, 5, 2, 1, 2, 2, 1, 6, 4, 2, 4, 2, 2, 6, 2, 3, 4, 4, 2, 3, 2, 1, 1, 2, 1, 2, 1, 6, 1, 2, 4, 1, 1, 1, 1, 1, 4, 1, 3, 3, 1, 2, 5, 5, 2, 4, 2, 2, 6, 2, 3, 4, 2, 4, 2, 2, 3, 1, 2, 1, 2, 2, 3, 2, 1, 3, 3, 0, 5, 5, 3, 1, 2, 2, 2, 6, 1, 2, 1, 2, 2, 2, 2, 5, 2, 2, 1, 2, 2, 2, 2, 2, 3, 6, 2, 2, 4, 5, 1, 2, 0, 0, 1, 2, 5, 1, 3, 1, 6, 1, 2, 2, 1, 4, 2, 1, 3, 2, 4, 2, 2, 1, 2, 2, 3, 1, 6, 2, 2, 5, 2, 2, 1, 2, 1, 2, 5, 3, 1, 2, 1, 5, 1, 3, 4, 1, 0, 1, 6, 3, 1, 3, 5, 5, 2, 2, 3, 4, 6, 0, 1, 2, 6, 3, 2, 1, 2, 2, 5, 2, 1, 1, 6, 2, 2, 5, 2, 3, 2, 3, 1, 2, 2, 3, 2, 2, 2, 2, 2, 1, 2, 4, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 3, 1, 3, 2, 3, 2, 2, 1, 5, 1, 1, 2, 2, 0, 1, 2, 3, 2, 3, 1, 2, 6, 2, 5, 5, 4, 1, 2, 5, 1, 4, 1, 2, 1, 2, 4, 3, 5, 4, 2, 4, 5, 2, 3, 1, 2, 1, 1, 2, 3, 2, 4, 6, 6, 2, 2, 2, 1, 2, 2, 2, 3, 1, 1, 2, 2, 3, 4, 2, 1, 6, 1, 2, 1, 2, 1, 2, 3, 2, 5, 2, 3, 2, 1, 2, 2, 3, 1, 2, 1, 2, 2, 1, 1, 2, 2, 3, 2, 4, 2, 2, 2, 5, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 3, 6, 4, 2, 1, 2, 3, 3, 2, 2, 4, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 3, 6, 2, 3, 4, 2, 4, 2, 6, 4, 2, 3, 6, 2, 1, 2, 2, 5, 4, 2, 2, 2, 2, 6, 1, 2, 4, 6, 1, 1, 1, 2, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 4, 1, 2, 2, 2, 3, 1, 4, 2, 4, 2, 5, 4, 4, 0, 2, 1, 2, 1, 0, 2, 2, 2, 1, 2, 6, 1, 2, 1, 3, 2, 2, 3, 1, 4, 3, 2, 2, 2, 2, 3, 2, 4, 1, 2, 2, 1, 2, 1, 2, 4, 2, 2, 2, 5, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 4, 1, 2, 1, 2, 0, 5, 1, 2, 4, 2, 2, 5, 3, 1, 5, 4, 2, 5, 3, 2, 1, 2, 3, 5, 3, 2, 2, 2, 2, 2, 2, 6, 5, 1, 3, 2, 3, 2, 5, 3, 2, 2, 4, 2, 2, 1, 2, 2, 3, 2, 5, 3, 2, 4, 2, 4, 3, 2, 5, 4, 1, 2, 3, 2, 5, 3, 1, 5, 3, 2, 3, 1, 4, 4, 2, 4, 3, 2, 2, 2, 5, 3, 5, 3, 2, 5, 2, 4, 6, 5, 2, 3, 1, 1, 2, 6, 2, 2, 1, 2, 2, 2, 0, 1, 2, 2, 5, 3, 4, 2, 6, 2, 5, 0, 2, 2, 2, 1, 3, 1, 0, 4, 1, 4, 2, 3, 3, 1, 3, 2, 1, 1, 6, 2, 2, 5, 4, 0, 2, 4, 2, 2, 2, 2, 1, 0, 3, 4, 1, 1, 1, 6, 2, 2, 2, 4, 1, 4, 1, 2, 3, 6, 6, 2, 1, 2, 1, 2, 3, 1, 0, 6, 2, 1, 4, 6, 4, 0, 6, 2, 5, 2, 2, 2, 3, 2, 2, 5, 4, 2, 0, 2, 4, 1, 2, 2, 1, 2, 1, 4, 4, 2, 6, 3, 2, 2, 2, 1, 3, 3, 6, 1, 5, 1, 6, 3, 2, 4, 1, 5, 5, 2, 3, 5, 3, 2, 2, 6, 4, 1, 2, 1, 3, 3, 2, 4, 3, 3, 3, 1, 1, 3, 5, 2, 2, 3, 2, 5, 2, 3, 1, 2, 2, 1, 2, 2, 3, 2, 1, 0, 4, 1, 2, 1, 2, 1, 4, 5, 1, 1, 3, 4, 2, 3, 5, 0, 1, 1, 1, 6, 2, 2, 3, 5, 5, 4, 2, 3, 1, 2, 6, 2, 1, 0, 1, 5, 3, 2, 2, 2, 4, 1, 2, 2, 2, 3, 5, 2, 3, 3, 4, 4, 2, 3, 2, 5, 2, 3, 1, 2, 2, 2, 0, 1, 4, 2, 2, 0, 6, 2, 6, 2, 6, 6, 2, 4, 2, 2, 2, 2, 4, 2, 5, 1, 2, 2, 3, 0, 4, 2, 0, 2, 2, 4, 2, 6, 1, 4, 1, 3, 2, 4, 1, 2, 0, 2, 3, 4, 1, 3, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 5, 3, 2, 1, 2, 3, 2, 4, 2, 1, 1, 2, 6, 3, 2, 3, 1, 2, 5, 2, 4, 0, 1, 2, 2, 2, 4, 2, 3, 2, 2, 2, 2, 3, 0, 2, 2, 3, 1, 4, 2, 2, 2, 3, 3, 2, 3, 2, 3, 5, 4, 2, 2, 2, 2, 3, 3, 1, 3, 2, 1, 1, 2, 1, 2, 2, 3, 2, 1, 2, 1, 3, 4, 3, 5, 1, 2, 2, 1, 2, 1, 1, 2, 6, 2, 4, 5, 1, 4, 4, 6, 2, 4, 2, 2, 4, 1, 1, 3, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 0, 2, 5, 2, 5, 1, 2, 0, 2, 1, 5, 1, 4, 2, 2, 3, 3, 2, 1, 4, 2, 2, 1, 1, 1, 2, 5, 6, 3, 1, 2, 4, 6, 1, 0, 2, 0, 2, 2, 1, 2, 2, 1, 2, 1, 4, 2, 0, 0, 2, 4, 1, 2, 3, 2, 2, 2, 1, 2, 2, 3, 3, 2, 3, 5, 1, 1, 2, 1, 6, 1, 5, 1, 0, 2, 1, 3, 2, 1, 1, 3, 6, 1, 2, 2, 6, 2, 4, 2, 3, 2, 1, 1, 5, 5, 2, 2, 2, 2, 1, 2, 2, 2, 4, 3, 2, 2, 3, 4, 6, 1, 1, 2, 2, 2, 0, 3, 6, 1, 2, 4, 5, 1, 2, 2, 3, 0, 1, 3, 2, 5, 4, 4, 3, 0, 1, 1, 5, 1, 1, 2, 1, 5, 1, 3, 2, 2, 2, 2, 6, 2, 0, 3, 2, 4, 3, 2, 5, 2, 3, 2, 1, 2, 2, 4, 6, 1, 6, 2, 0, 2, 2, 2, 1, 1, 2, 2, 3, 1, 1, 2, 3, 1, 3, 3, 2, 2, 1, 1, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 3, 2, 4, 2, 2, 6, 6, 2, 4, 2, 1, 3, 5, 2, 3, 5, 2, 2, 0, 5, 2, 2, 2, 1, 2, 3, 1, 2, 2, 2, 4, 3, 2, 5, 4, 6, 5, 2, 4, 4, 4, 2, 2, 2, 4, 1, 1, 2, 4, 1, 2, 6, 2, 2, 3, 1, 2, 5, 4, 1, 2, 4, 2, 1, 1, 1, 2, 1, 2, 1, 2, 5, 1, 2, 6, 3, 2, 4, 6, 3, 6, 2, 0, 5, 1, 1, 2, 0, 2, 3, 3, 1, 2, 5, 3, 2, 3, 5, 2, 2, 2, 3, 5, 2, 2, 6, 2, 2, 2, 0, 1, 1, 1, 6, 2, 4, 2, 2, 2, 4, 2, 2, 6, 4, 6, 1, 2, 6, 2, 1, 2, 1, 2, 2, 2, 2, 6, 2, 2, 2, 3, 2, 4, 2, 2, 1, 2, 3, 4, 2, 4, 4, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 3, 2, 2, 1, 2, 5, 2, 2, 2, 2, 1, 1, 4, 2, 4, 1, 2, 6, 4, 2, 1, 1, 2, 1, 1, 2, 6, 1, 1, 2, 2, 2, 3, 2, 2, 3, 4, 2, 1, 1, 2, 2, 2, 3, 2, 2, 2, 1, 1, 6, 5, 5, 1, 2, 4, 4, 4, 2, 2, 0, 2, 1, 1, 3, 1, 3, 4, 1, 2, 3, 2, 3, 2, 2, 1, 5, 2, 3, 3, 1, 1, 2, 5, 5, 3, 2, 1, 2, 2, 4, 2, 2, 3, 1, 5, 3, 3, 2, 4, 2, 3, 2, 2, 1, 0, 3, 2, 2, 5, 2, 5, 4, 0, 2, 1, 6, 2, 4, 1, 2, 6, 1, 1, 2, 3, 3, 2, 2, 1, 1, 4, 2, 6, 4, 3, 3, 2, 2, 3, 2, 2, 2, 5, 1, 3, 6, 2, 0, 1, 2, 2, 2, 2, 1, 0, 2, 2, 3, 2, 3, 2, 4, 3, 2, 3, 3, 0, 4, 3, 4, 1, 3, 1, 2, 2, 2, 5, 1, 1, 5]

In [56]:
dataset.head()

                    ID                              text  target  new_target
0  ynat-v1_train_00000  정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보       4           4
1  ynat-v1_train_00001       K찰.국DLwo 로L3한N% 회장 2 T0&}송=       3           3
2  ynat-v1_train_00002            m 김정) 자주통일 새,?r열1나가야1보       2           2
3  ynat-v1_train_00003     갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       5           2
4  ynat-v1_train_00004      pI美대선I앞두고 R2fr단 발] $비해 감시 강화       6           2

In [57]:
dataset.to_csv("/data/ephemeral/home/sty/data/relabel_train.csv")

In [68]:
text_datas = dataset["text"]
def calculate_ascii_noise(text):
    total_chars = len(text)
    ascii_chars = 0 
    for ch in text:
        if ch == " ":
            continue
        if ord(ch) < 128:
            ascii_chars+=1
            
    non_ascii_chars = total_chars - ascii_chars  # 비-ASCII 문자 개수
    
    ascii_ratio = (ascii_chars / total_chars) * 100  # ASCII 문자 비율 (%)
    
    return ascii_chars, non_ascii_chars, ascii_ratio
asc_counts = []; non_asc_counts = []; percentages = []
# ASCII 문자 개수, 비-ASCII 문자 개수, ASCII 비율 계산
for text_with_noise in text_datas:
    ascii_count, non_ascii_count, ascii_percentage = calculate_ascii_noise(text_with_noise)
    ascii_percentage = round(ascii_percentage,2)
    asc_counts.append(ascii_count)
    non_asc_counts.append(non_ascii_count)
    percentages.append(ascii_percentage)
    
print(len(asc_counts), len(non_asc_counts), len(percentages))
dataset["ratio"] = percentages

2800 2800 2800

In [69]:
dataset.head()

,ID,text,target,new_target,ratio
0,ynat-v1_train_00000,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,4,4,40.62
1,ynat-v1_train_00001,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,3,3,59.26
2,ynat-v1_train_00002,"m 김정) 자주통일 새,?r열1나가야1보",2,2,31.82
3,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,2,10.34
4,ynat-v1_train_00004,pI美대선I앞두고 R2fr단 발] $비해 감시 강화,6,2,32.14

In [70]:
new_dataset = dataset[dataset['ratio'] < 40]
new_dataset.head()

,ID,text,target,new_target,ratio
2,ynat-v1_train_00002,"m 김정) 자주통일 새,?r열1나가야1보",2,2,31.82
3,ynat-v1_train_00003,갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩,5,2,10.34
4,ynat-v1_train_00004,pI美대선I앞두고 R2fr단 발] $비해 감시 강화,6,2,32.14
5,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,0,2,6.67
6,ynat-v1_train_00006,프로야구~롯TKIAs광주 경기 y천취소,1,1,33.33

In [71]:
len(new_dataset)

1886

In [72]:
new_dataset['target'] = new_dataset['new_target']
new_dataset = new_dataset.drop(columns=['new_target'])
new_dataset.head()

/tmp/ipykernel_2132492/3053615202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['target'] = new_dataset['new_target']

                    ID                            text  target  ratio
2  ynat-v1_train_00002          m 김정) 자주통일 새,?r열1나가야1보       2  31.82
3  ynat-v1_train_00003   갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       2  10.34
4  ynat-v1_train_00004    pI美대선I앞두고 R2fr단 발] $비해 감시 강화       2  32.14
5  ynat-v1_train_00005  美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다       2   6.67
6  ynat-v1_train_00006           프로야구~롯TKIAs광주 경기 y천취소       1  33.33

In [73]:
new_dataset.to_csv("/data/ephemeral/home/sty/data/relabel_translator_train.csv")